:root {
  --c-text: #121212;
  --c-text-b: #000000;
  --c-text-l: rgba(0, 0, 0, 0.45);
  --c-text-w: #ffffff;
  --c-text-w-d: #F7F7F7;
  --c-bg-d: #2A2A2A;
  --c-bg: #A2A2A2;
  --c-bg-l: #F0F2F3;
  --c-bg-sup-ua: #000000;
  --c-text-sup-ua: #FFFFFF;
  --c-bg-extra: #2B2B2B;
  --c-focus: #F6C93C;
  --c-hint: #0894E2;
  --c-bg-gradient: linear-gradient(72.44deg, #868F96 0%, #596164 100%);
  --c-focus-gradient: linear-gradient(180deg, #F6C93C 0%, #A79F1E 100%);
  --c-pay-gradient:  linear-gradient(330.56deg, #FFA51D 26.87%, #FFD961 80.52%);
  --c-images-cover: rgba(31, 31, 31, 0.6);
}

/* font-size */
$fs: 16px;
