.l-head-wrapper {
	background: url('/wiki/img/landing/l-head.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 190px 30px;
	min-height: 100vh;
	&:after {
		position: absolute;
		left: 0;
		top: 100%;
		content: '';
		height: 80px;
		width: 100%;
		background-repeat: no-repeat;
		transform: scale(-1);
		background: url('/wiki/img/landing/l-info-bg-t.png');
		background-size: cover;
	}
	@include bp-max(md) {
		padding-bottom: 145px;
		padding-top: 277px;
	}
	@include bp-max(sm) {
		padding-bottom: 134px;
		padding-top: 134px;
	}
}
.l-head {
	display: flex;
	&_left {
		flex-grow: 1;
		@include bp-max(md) {
			text-align: center;
		}
	}
	&_right {
		width: 378px;
		min-width: 378px;
		@include bp-max(md) {
			display: none;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}
.l-head-title {
	font-weight: 700;
	font-size: 55px;
	line-height: 82px;
	color: var(--c-text-w-d);
	margin-bottom: 40px;
	@include bp-max(md) {
		font-size: 40px;
		line-height: 60px;
	}
}
.l-head-text {
	font-weight: 500;
	font-size: 18px;
	line-height: 200%;
	color: var(--c-text-w-d);
	margin-bottom: 40px;
	max-width: 511px;
	@include bp-max(md) {
		max-width: 100%;
	}
}
.l-head-btns {
	display: flex;
	align-items: center;
	@include bp-max(md) {
		flex-direction: column;
	}
	.l-btn+.l-btn {
		margin-left: 40px;
		@include bp-max(md) {
			margin-left: 0;
			margin-top: 30px;
		}
	}
}